body{
    background-color: blue;
}
input,button{
    margin-top: 10px;
}

.but{
    display: inline-block;
    background: #8C959D;
    color: #fff;
    padding: 1rem 1.5rem;
    text-decoration: none;
    border-radius: 3px;
}
a{
    color: white;
    text-decoration: none;
}